.contact-section{
    width:90%;
    margin:80px auto;
    text-align:center;
}

.contact-section h2{
    color:#fff;
    font-size:38px;
    margin-bottom:40px;
}

.contact-dashboard{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:18px;
}

.contact-card{
    background:#161b22;
    border:1px solid #2d333b;
    border-radius:15px;
    padding:25px 15px;
    transition:0.3s;
}

.contact-card:hover{
    transform:translateY(-8px);
    border-color:#00c8ff;
    box-shadow:0 0 20px rgba(0,200,255,.3);
}

.contact-card i{
    font-size:35px;
    color:#00c8ff;
    margin-bottom:15px;
}

.contact-card h3{
    color:#fff;
    margin-bottom:10px;
    font-size:20px;
}

.contact-card p{
    color:#c9d1d9;
    font-size:14px;
    word-break:break-word;
}

@media(max-width:1000px){
    .contact-dashboard{
        grid-template-columns:repeat(3,1fr);
    }
}

@media(max-width:700px){
    .contact-dashboard{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:500px){
    .contact-dashboard{
        grid-template-columns:1fr;
    }
}